@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --c1: #22346b;
    --c2: #24b8ec;
    --heading-font: "Poppins", sans-serif;
    --body-font: "Noto Sans", sans-serif;
    --button-shadow: -6px 6px 11px 0px #00000069;
}

.blog_banner {
    background: url(../../../public/assets/images/blogs/blog-banner-bg.png);
    background-size: cover;
}

.blog_parent_body .blog_more_butt {
    background: linear-gradient(90deg, #24B8EC 0%, #22346B 100%);
    color: #ffffff;
    border-radius: 32px;
    border: none;
    padding: 10px 45px;
    cursor: pointer;
}

.blog_parent_body .blog_more_butt div {
    font-size: 18px;
    padding-left: 3px;
    transform: rotate(310deg);
}

.blog_main_search {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    border-radius: 24.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.blog_main_search input {
    width: 100%;
    border: none;
    padding: 10px;
}

.blog_main_search div {
    background-color: var(--c1);
    padding: 10px;
    font-size: 15px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 5px 5px 5px 0;
    cursor: pointer;
    transition: all .3s ease-out;
}

.blog_main_search div:hover {
    background-color: var(--c2);
    transition: all .3s ease-out;
}

.blog_main_search input::placeholder {
    padding-left: 10px;
}

.blog_right_part {
    position: sticky;
    top: 100px;
    height: fit-content;
}

.blog_parent_body .row {
    align-items: flex-start;
}

.blog_right_part li {
    list-style: none;
}

.latest_blog_parent img {
    height: 74px;
    width: 74px;
    object-fit: cover;
}

.latest_blog_parent p {
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.latest_blog__child {
    padding: 12px 0;
}

.blog_tags_child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 25px;
    width: fit-content;
}

.blog_parent_card {
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 10px 60px 0px #262D7614;
    background: linear-gradient(to bottom, #ffffff 0%, #ffffffdc 50%), url(../../../public/assets/images/blogs/blog-card-bg.png);
}

.blog_parent_card_inner {
    padding: 20px;
    border-radius: 50px;
}

.blog_description {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
    color: #000000;
}

.blog_more_butt {
    background: linear-gradient(90deg, #24B8EC 0%, #22346B 100%);
    border-radius: 32px;
    color: #ffffff;
    border: none;
    padding: 10px 40px;
}