@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --c1: #22346b;
    --c2: #24b8ec;
    --heading-font: "Poppins", sans-serif;
    --body-font: "Noto Sans", sans-serif;
    --button-shadow: -6px 6px 11px 0px #00000069;
}

.contact_banner {
    background: linear-gradient(#22346BE5, #22346BE5), url(../../../public/assets/images/contact-banner-bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.contact_banner_side {
    min-height: 300px;
    background-image: url(../../../public/assets/images/contact-banner.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
}

.contact_form {
    background: url(../../../public/assets/images/contact-bg.png), linear-gradient(#ffffff, #ffffff);
    background-size: 100% 90%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.contact_form label {
    font-weight: 500;
}

.contact_form form input,
.contact_form form textarea {
    border-radius: 12.86px;
    padding: 15px 10px;
    background-color: #FFFFFF1A;
    color: #000000;
    border: 0.86px solid #00000033;
    box-shadow: 0px 0px 5px 1px #0000001f inset;
}

.contact_form form textarea {
    height: 110px;
}

.contact_form button {
    padding: 5px 20px;
    border-radius: 6px;
    text-wrap: nowrap;
    display: flex;
    border: 1px solid var(--c1);
    color: #ffffff;
    background-color: var(--c1);
    transition: all 0.5s ease-out;
}

.contact_form button:hover {
    background-color: var(--c2);
    transition: all 0.5s ease-out;
}

.contact_details_sub {
    background: #D9D9D966;
    border-radius: 10.36px;
    padding: 60px 40px 30px;
    position: relative;
}

.contact_details_sub a {
    color: #ffffff;
    transition: all .3s ease-out;
}

.contact_details_sub a:hover {
    color: var(--c2);
    transition: all .3s ease-out;
}

.contact_details_sub .contact_details_sub_icon {
    background-color: #ffffff;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin: auto;
}

.contact_details_sub .contact_details_sub_icon I {
    color: var(--c2);
    font-size: 50px;
}

.contact_details button {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    transition: all .3s ease-out;
}

.contact_details button:hover {
    background-color: var(--c2);
    transition: all .3s ease-out;
}


@media screen and (max-width: 991px) {
    .contact_banner_side_parent {
        position: relative;
        min-height: 300px;
        margin-top: 20px;
    }

    .contact_banner_side {
        min-height: 300px;
        width: 90%;
        left: 0;
        right: 0;
        margin: 10px auto;
    }

    .contact_details_sub {
        margin: 20px 0;
    }
}