@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --c1: #22346b;
    --c2: #24b8ec;
    --heading-font: "Poppins", sans-serif;
    --body-font: "Noto Sans", sans-serif;
    --button-shadow: -6px 6px 11px 0px #00000069;
}

/* HERO */
.debug_hero {
    background: url(../../../public/assets/images/debugging/debugging-baner-bg.png);
    background-size: cover;
    background-position: center;
    padding: 60px 20px;
    text-align: center;
    color: white;
}

.debug_hero button {
    margin-top: 15px;
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(180deg, #ececec33 20.59%, #c9c9c933 85.35%);
    color: #ffffff;
    box-shadow: -1px -1px 2px 1px #ffffff7d inset;
    font-size: 20px;
    transition: all .3s ease-out;
}

.debug_hero button:hover {
    background: var(--c2);
    transition: all .3s ease-out;
}

/* FILTER BAR */
.debug_main {
    background: url(../../../public/assets/images/debugging/debug-page-bg.png);
    background-size: cover;
    background-position: top;
}

.debug_main .debug_filters select,
.debug_main .debug_filters input {
    width: 100%;
    padding: 10px 45px;
    box-shadow: 0px 0px 5px -1px #00000030 inset;
    border-radius: 86.54px;
    border: 1px solid #f1f1f1;
    background: linear-gradient(180deg, #ececec33 20.59%, #c9c9c933 85.35%);
}

.debug_main .debug_search {
    position: relative;
}

.debug_main .debug_search i {
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* GRID */

/* .debug_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
} */

/* CARD */
.debug_main .debug_card {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 0.78px 3.11px 0px #00000040;
    position: relative;
    height: 100%;
}

.debug_main .debug_icon {
    width: 50px;
}

/* BADGE */
.debug_main .badge {
    border-radius: 13px 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 40px;
    color: white;
    font-size: 17px;
}

.debug_main .status_badge {
    background: #E2E2E2;
    border-radius: 21.37px;
    padding: 3px 15px;
    font-size: 14px;
}

/* PROGRESS */
.debug_main .progressbar {
    height: 8px;
    background: #eee;
    border-radius: 10px;
    margin: 12px 0;
}

.debug_main .progressfill {
    height: 100%;
    background: #22c55e;
    border-radius: 10px;
    padding: 8px;
}

/* TEXT */
.debug_main .track {
    color: #777;
    margin: 5px 0 10px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
}

.debug_main .stats {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 10px;
}

.debug_main .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #E9E9E9;
    padding: 10px;
    border-radius: 10.68px;
}

.debug_main .bottom span {
    font-size: 15px;
}

.debug_main .continue {
    background: #22c55e;
    border: none;
    padding: 6px 12px;
    color: white;
    border-radius: 6px;
}

/* SHOW MORE */
.debug_main .show_more {
    text-align: center;
    margin-top: 25px;
}

.debug_main .show_more button {
    padding: 10px 20px;
    border: 1px solid #4aa3ff;
    background: white;
    border-radius: 8px;
    color: #4aa3ff;
}


/* innerpage */

.workspace-wrapper {
    background: linear-gradient(#eaf4ff, #ffffff);
    min-height: 100vh;
}

.workspace-header {
    background: var(--c1);
    height: 70px;
    position: relative;
}

.logo-left,
.logo-right {
    width: 40px;
    position: absolute;
}

.logo-left {
    left: 20px;
}

.logo-right {
    right: 20px;
}

.question-bar {
    background: var(--c1);
    padding: 6px;
}

.problem-panel {
    max-height: 420px;
    overflow-y: auto;
    font-size: 14px;
}

.editor-box {
    border-top: 1px solid #ddd;
}

.output-panel {
    background: #f7fbff;
}

.output-text {
    background: #ffffff;
    border: 1px solid #dfe7f5;
    padding: 10px;
    min-height: 120px;
    font-size: 14px;
}

.workspace-footer {
    background: var(--c1);
    /* position: sticky; */
    bottom: 0;
}

.copy_debug_butt {
    background-color: transparent;
    color: var(--c1);
    border: none;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.submit_debug_butt {
    background-color: var(--c1);
    color: #ffffff;
    border: none;
    padding: 10px 30px;
}