@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --c1: #22346b;
    --c2: #24b8ec;
    --heading-font: "Poppins", sans-serif;
    --body-font: "Noto Sans", sans-serif;
    --button-shadow: -6px 6px 11px 0px #00000069;
}

.ide_header {
    padding: 10px 20px;
}

.ide_header .select_wrapper select {
    width: 150px;
    padding: 10px;
    border: none;
}

.ide_header_icon button {
    background-color: transparent;
    border: none;
    font-size: 14px;
}

.ide_header_icon img {
    height: 80px;
}

.ide_header_right {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.ide_header_right button {
    border-radius: 23px;
    background-color: #24B8EC1A;
    box-shadow: 0px 0px 8.8px -2px #00000040 inset;
    padding: 8px 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--c1);
    font-size: 15px;
    font-weight: 500;
    transition: all .3s ease-out;
}

.ide_header_right button:hover {
    background-color: var(--c1);
    color: #ffffff;
    transition: all .3s ease-out;
}

.ide_filename {
    background: linear-gradient(180deg, #24BAEC 0%, #22346B 100%);
    width: fit-content;
    padding: 10px 40px;
    color: #ffffff;
}

/* .ide_editor_main{
    min-height: 500px;
} */

.editor_left_ide{
    min-height: 300px;
    max-height: 300px;
}