@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --c1: #22346b;
    --c2: #24b8ec;
    --heading-font: "Poppins", sans-serif;
    --body-font: "Noto Sans", sans-serif;
    --button-shadow: -6px 6px 11px 0px #00000069;
}

.webinar_banner {
    background: url(../../../public/assets/images/blogs/blog-banner-bg.png);
    background-size: cover;
}

/* Webinar Category --- Start */
.webinar_category {
    background: #f4f7fb;
    padding: 20px;
    border-radius: 12px;
}

.webinar_category ul {
    list-style: none;
    padding: 0;
}

.webinar_category li {
    padding: 15px;
    cursor: pointer;
    position: relative;
    border-radius: 13px;
    margin: 15px 0;
    transition: all .3s ease-out;
}

.webinar_category li.active {
    background: linear-gradient(90deg, #d9d9d96b 0%, #73737300 81.75%);
    transition: all .3s ease-out;
}

.webinar_category li::after {
    position: absolute;
    z-index: 1;
    content: "\F285";
    font-family: "Bootstrap-icons";
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 12px;
    font-weight: bold;
    color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-out;
}

.webinar_category li.active::after {
    color: #000000;
    transition: all .3s ease-out;
}

/* Webinar Category --- End */
/* Webinar card --- Start */
.webinar_card {
    background: white;
    border-radius: 13px 13px 0 0;
    text-align: center;
    background: linear-gradient(130deg, #ffffff 0%, #dde0e1 40%, #73737300 81.75%);
    box-shadow: 0px 1.73px 0.58px 0px #FFFFFF66 inset;
    transition: .3s;
}

.webinar_card h5 {
    font-size: 15px;
    font-weight: 600;
    /* text-align: start; */
    color: #000;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.webinar_card img {
    width: 70%;
    margin-top: -50px;
}

.webinar_card_body {
    flex: 1;
    width: 100%;
}

/* button always bottom */
.webinar_card .register_btn {
    margin-top: auto;
    background: var(--c1);
    color: #ffffff;
    border: none;
    padding: 15px 20px;
    white-space: nowrap;
    width: 100%;
    font-size: 20px;
    border-radius: 19.01px 19.01px 13px 13px;
    transition: all .3s ease-out;
}

.webinar_card .register_btn:hover {
    background-color: var(--c2);
    transition: all .3s ease-out;
}

/* container clipping */
.webinar_main .col-lg-9 {
    position: relative;
    overflow: hidden;
}

/* show only part of last row */
.preview_card {
    opacity: .45;
    transform: translateY(40px);
    pointer-events: none;
}

/* smooth reveal */
.webinar_col {
    transition: all .5s ease;
}

/* arrow style */
.load_more_arrow {
    border: none;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
    font-size: 20px;
    transition: .3s;
}

.load_more_arrow:hover {
    transform: translateY(5px);
}

/* Webinar card --- End */

.webinar_subscribe_box {
    background-image: url(../../../public/assets/images/webinar/webinar-form-bg.png);
    background-size: cover;
    border-radius: 40px;
    background-position: center;
}

.webinar_subscribe_box form input {
    border-radius: 18.39px;
    padding: 10px 15px;
    border: none;
    background: #FFFFFFB2;
    color: #000000;
    width: 100%;
}

.webinar_subscribe_box form button {
    background-color: var(--c1);
    color: #ffffff;
    border: none;
    border-radius: 18.39px;
    padding: 10px 50px;
    transition: all .3s ease-out;
}

.webinar_subscribe_box form button:hover {
    background-color: var(--c2);
    transition: all .3s ease-out;
}

.webinar_highlights_sub {
    padding: 15px;
    border-radius: 20.87px;
    height: 100%;
}

.webinar_highlights_sub p {
    font-size: 13px;
    margin-top: 10px;
}

.webinar_highlights_sub img {
    width: 126px;
    height: 126px;
    object-fit: contain;
    transform: translateY(0);
    transition: all .3s ease-out;
}

.webinar_highlights_parent .col-lg-2:nth-child(1) .webinar_highlights_sub {
    background: linear-gradient(180deg, #F0E05D 0%, #ffffff00 100%);
}

.webinar_highlights_parent .col-lg-2:nth-child(2) .webinar_highlights_sub {
    background: linear-gradient(180deg, #3B7DE6 0%, #ffffff00 100%);
}

.webinar_highlights_parent .col-lg-2:nth-child(3) .webinar_highlights_sub {
    background: linear-gradient(180deg, #87D3C1 0%, #ffffff00 100%);
}

.webinar_highlights_parent .col-lg-2:nth-child(4) .webinar_highlights_sub {
    background: linear-gradient(180deg, #7785CC 0%, #ffffff00 100%);
}

.webinar_highlights_parent .col-lg-2:nth-child(5) .webinar_highlights_sub {
    background: linear-gradient(180deg, #3B7DE6 0%, #ffffff00 100%);
}

.webinar_highlights_parent .col-lg-2:nth-child(6) .webinar_highlights_sub {
    background: linear-gradient(180deg, #9471F7 0%, #ffffff00 100%);
}

.webinar_highlights_parent .webinar_highlights_sub:hover img {
    transform: translateY(-10px);
    transition: all .3s ease-out;
}

.webinar_cta {
    background: url(../../../public/assets/images/webinar/webinar-cta-bg.png);
    background-size: cover;
    background-position: center;
}

.webinar_cta p {
    font-size: 24px;
}

.webinar_cta button {
    border-radius: 21px;
    background-color: #ffffff;
    padding: 10px 30px;
    color: #000000;
    border: none;
    font-size: 20px;
    font-weight: 500;
    transition: all .3s ease-out;
}

.webinar_cta button:hover {
    background-color: var(--c1);
    color: #ffffff;
    transition: all .3s ease-out;
}