@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --c1: #21346a;
  --c2: #00baf2;
  --body-font: "Arimo", sans-serif;
}

* {
  font-family: "Arimo", sans-serif;
}

a {
  text-decoration: none !important;
}

.bg-clight {
  background-color: var(--c2);
}

body {
  margin: 0;
  padding: 0;
  background: url(../public/assets/images/bg-shape.png);
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
}

img {
  -webkit-user-drag: none;
}

.signUpBut {
  background: var(--c1);
  color: #ffffff;
  padding: 10px 15px;
  border: 0;
  border-radius: 5px;
  white-space: nowrap;
}

.bg_light_grey {
  background: #00000008 !important;
}

.text-yellow {
  color: var(--c2);
}

.sub_heading {
  font-size: 12px;
}

.section_container {
  max-width: 1900px;
  margin: auto;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.scroll-text {
  font-size: 14px;
  padding: 10px;
}

/* .scroll-text {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  animation: scroll-left 20s linear infinite;
  font-weight: 500;
} */

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.navbar_links.active {
  position: fixed;
  z-index: 99;
  top: 0;
  background: #ffffff;
  box-shadow: 1px 2px 3px -1px #00000026;
  transition: all .3s ease-out;
}

.nav_parent {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.v-navbar {
  background-color: #ffffff;
  position: relative;
}

.login_signup_sec {
  font-size: 14px;
  font-weight: 500;
}

.v-navbar .right_nav_icons i {
  font-size: 18px;
}

.v-navbar .right_nav_icons i.bi-cart3 {
  font-size: 20px;
}

.menu-icon {
  display: none;
}

.nav-elements {
  padding: 0 30px;
  width: 100%;
}

.nav-elements ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 50px;
}

.nav-elements ul li:not(:last-child) {
  /* margin-right: 60px; */
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}

.nav-elements ul a.active {
  position: relative;
}

.ab-lgo-bx {
  background-color: #000000;
  border-radius: 50%;
  padding: 10px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ab-lgo-bx i {
  color: #eeeeee;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 180px;
}

/* login page */
.login-container {
  background-color: #dcdefe;
}

.login-container .container {
  background: #ffffff;
  margin: auto;
  width: 100%;
}

.login-container .logo svg {
  height: 40px;
  width: 40px;
  fill: var(--c2);
}

.login-container .login-form {
  box-sizing: border-box;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.login-container .login-form .login-form-inner {
  max-width: 380px;
  width: 95%;
}

.login-container .login-form .login-form-inner .login_logo img {
  height: 45px;
}

.login-container .login-form .google-login-button .google-icon svg {
  height: 20px;
  display: flex;
  margin-right: 10px;
}

.login-container .login-form .google-login-button {
  color: #333333;
  border: 1px solid #d6d6d6;
  margin: 40px 0 20px;
}

.login-container .login-form .sign-in-seperator {
  text-align: center;
  color: #969696;
  position: relative;
  margin: 30px 0 20px;
}

.login-container .login-form .sign-in-seperator span {
  background: #ffffff;
  z-index: 1;
  position: relative;
  padding: 0 10px;
  font-size: 14px;
}

.login-container .login-form .sign-in-seperator:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #d6d6d6;
  left: 0;
  top: 50%;
  z-index: 0;
}

.login-container .login-form .login-form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.login-container .login-form .login-form-group label {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  margin-bottom: 10px;
}

.login-container .login-form .login-form-group input {
  padding: 13px 20px;
  box-sizing: border-box;
  border: 1px solid #d6d6d6;
  border-radius: 50px;
  font-weight: 600;
  font-size: 14px;
  color: #333333;
  transition: linear 0.2s;
}

.login-container .login-form .login-form-group input:focus {
  outline: none;
  border: 1px solid var(--c2);
}

.login-container .login-form .login-form-group input::-webkit-input-placeholder {
  color: #969696;
  font-weight: 300;
  font-size: 14px;
}

.login-container .login-form .login-form-group.single-row {
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
}

/* custom checkbox */
.login-container .login-form .custom-check input[type="checkbox"] {
  height: 23px;
  width: 23px;
  margin: 0;
  padding: 0;
  opacity: 1;
  appearance: none;
  border: 2px solid var(--c2);
  border-radius: 3px;
  background: #ffffff;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.login-container .login-form .custom-check input[type="checkbox"]:checked {
  border: 2px solid var(--c2);
  background: var(--c2);
}

.login-container .login-form .custom-check input[type="checkbox"]:checked:before,
.login-container .login-form .custom-check input[type="checkbox"]:checked:after {
  content: "";
  position: absolute;
  height: 2px;
  background: #ffffff;
}

.login-container .login-form .custom-check input[type="checkbox"]:checked:before {
  width: 8px;
  top: 11px;
  left: 2px;
  transform: rotate(44deg);
}

.login-container .login-form .custom-check input[type="checkbox"]:checked:after {
  width: 14px;
  top: 8px;
  left: 5px;
  transform: rotate(-55deg);
}

.login-container .login-form .custom-check input[type="checkbox"]:focus {
  outline: none;
}

.login-container .login-form .custom-check {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container .login-form .custom-check label {
  margin: 0;
  color: #333333;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.login-container .login-form .link {
  color: var(--c2);
  font-weight: 700;
  text-decoration: none;
  font-size: 14px;
}

.login-container .login-form .link:hover {
  text-decoration: underline;
}

.login-container .login-form .login-cta {
  color: #ffffff;
  text-decoration: none;
  border: 1px solid var(--c1);
  margin: 25px 0 35px;
  background: var(--c1);
}

.login-container .login-form .login-cta:hover {
  background: var(--c2);
}

.login-container .onboarding {
  background: #eff3ff;
}

.login-container .login-form .login-form-group label .required-star {
  color: var(--c2);
  font-size: 18px;
  line-height: 10px;
}

.login-container .rounded-button {
  display: flex;
  width: 100%;
  text-decoration: none;
  border-radius: 50px;
  padding: 13px 20px;
  box-sizing: border-box;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  transition: linear 0.2s;
}

.login-container .rounded-button:hover {
  box-shadow: 0px 0px 4px 0px #d6d6d6;
}

.login-container .body-text {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
}

.login-container .onboarding .swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.login-container .onboarding .swiper-slide {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.login-container .onboarding .swiper-pagination-bullet-active {
  background-color: var(--c2);
}

.login-container .onboarding .swiper-slide {
  flex-direction: column;
  display: flex;
}

.login-container .onboarding .swiper-slide .slide-image img {
  width: 100%;
  height: 80%;
}

.login-container .onboarding .slide-content {
  width: 60%;
}

.login-container .onboarding .slide-content h2 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}

.login-container .onboarding .slide-content p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal>.swiper-pagination-bullets {
  bottom: 30px;
}

.login-container .login-form .login-form-inner h1 {
  margin: 0;
}

.tabButt {
  background-color: transparent;
  border: 1px solid var(--c1);
  transition: all .3s ease-out;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 3px;
}

.tabButt:hover,
.tabButt.tabActive {
  background-color: var(--c2);
  border: 1px solid var(--c1);
  transition: all .3s ease-out;
}

.class_date {
  position: absolute;
  padding: 10px;
  margin: 10px 0 0 10px;
  /* border-radius: 50%; */
  background-color: var(--c1);
  border: 1px dashed var(--c2);
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 70px; */
}

.class_date h5 {
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
}

@media screen and (max-width: 420px) {

  .login-container .login-form .sign-in-seperator,
  .login-container .login-form .google-login-button {
    margin: 20px 0 10px;
  }

  .login-container .login-form {
    padding: 10px 0;
  }

  .login-container .login-form-group {
    margin-bottom: 16px;
  }

  .login-container {
    margin: 0;
  }
}

/* login page end */

/* footer */
.footer_sec {
  background: linear-gradient(180deg, #2a2a2a, #2d2d2d);
  padding: 60px 0 20px;
}

.footer_sec h3 {
  color: #ffffff;
  font-size: 17px;
  margin-bottom: 15px;
}

.footer_sec li {
  list-style: none;
  padding: 10px 0 0;
}

.footer_sec .bottom_social_media p,
.footer_sec a,
.footer_sec span {
  color: #b5b5b5;
  font-size: 15px;
  transition: all .3s ease-out;
}

.footer_sec a:hover,
.footer_sec li:hover a {
  color: #ffffff;
  transition: all .3s ease-out;
}

.footer_sec hr {
  background-color: #cfcfcf;
  height: 2px;
}

.footer_sec .bottom_social_media img.footer_logo {
  width: 200px;
}

/* .footer_sec .bottom_social_media i {
  color: #ffffff;
  font-size: 20px;
} */

.footer_sec .bottom_social_media .footer_icons {
  /* border: 1px solid #ffffff;
  border-radius: 50%; */
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_sec .bottom_social_media .footer_icons img {
  width: 40px;
}

.footer_sec .accordion-button::after,
.footer_sec .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.footer_sec .accordion-button {
  padding: 15px 0;
}

.footer_sec .accordion,
.footer_sec .accordion-item,
.footer_sec .accordion-button:not(.collapsed),
.footer_sec .accordion-button,
.footer_sec .accordion-item:last-of-type {
  background-color: transparent;
  color: #ffffff;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.footer_sec .accordion-item {
  border-bottom: 1px solid #eeeeee;
  padding: 6px 0;
}

.footer_sec .accordion-item:last-child {
  border-bottom: none;
}

@media screen and (max-width: 991px) {
  .page_links h3 {
    margin-bottom: 0;
    margin-top: 15px;
  }
}

/* footer - end */

/* counter */
.counter .innerCounter {
  border-right: 1px solid #d6d6d6;
}

.counter .innerCounter:last-child {
  border-right: none;
}

/* logo */

.partner-logo {
  height: 80px;
  width: auto;
  object-fit: contain;
  margin: 0 auto;
}

.swiper-button-prev,
.swiper-button-next {
  color: #000;
}

.swiper-pagination-bullet {
  background: #000;
}

.btn-c1 {
  background-color: var(--c1);
  padding: 4px 8px;
  border: 1px solid var(--c1);
  border-radius: 0.25rem;
  color: #ffffff;
  transition: all .3s ease-out;
}

.btn-c1:hover {
  background-color: var(--c2);
  border: 1px solid var(--c1);
  color: var(--c1);
  transition: all .3s ease-out;
}

.btn1,
.btn2 {
  border: 1px solid var(--c1);
  padding: 4px 8px;
  border-radius: 0.25rem;
}

.btn1 {
  color: var(--c1);
  background-color: #ffffff;
  transition: all .3s ease-out;
}

.btn2 {
  background-color: var(--c1);
  color: #ffffff;
}

.btn1:hover {
  background-color: var(--c1);
  color: #ffffff;
  transition: all .3s ease-out;
}

.btn2:hover {
  background-color: var(--c2);
  color: #000000;
  transition: all .3s ease-out;
}

.course-card {
  height: 100%;
  min-height: 370px;
  /* ensures consistent height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.course-card img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.testimonial-card {
  border-radius: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.testimonial_sec {
  background: url(../public/assets/images/testimonial-vector.png);
  background-size: 400px;
  height: 100%;
  width: 100%;
  background-position: left center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* top: 0; */
  z-index: 1;
  position: relative;
}

.trainer-card {
  transition: all 0.3s ease;
  border: 1px solid #eaeaea;
}

.trainer-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.trainer-img img {
  border: 3px solid #f5f5f5;
}

.trainer_sec {
  background: linear-gradient(#000000b2, #000000b2), url(../public/assets/images/bg.png);
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.trainer_sec::before {
  position: absolute;
  content: "";
  backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 1;
}

.trainer_sec .container {
  position: relative;
  z-index: 2;
}

.heading_wrap {
  width: fit-content;
}

.blur_text {
  position: absolute;
  font-size: 80px;
  color: #b4b4b421;
  left: -30px;
  top: -50px;
  font-weight: 900;
  white-space: nowrap;
  z-index: -1;
  text-transform: uppercase;
}

.blur_text .container {
  position: relative;
  z-index: 1;
}

.abut_image {
  width: auto;
}

/* responsive */

@media screen and (min-width: 991px) {
  .nav-elements ul a.active::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
  }
}

@media (max-width: 910px) {
  .navbar_links.active .nav-elements {
    top: 85px;
  }

  .heading_wrap h1 {
    font-size: 45px;
  }

  .testimonial_sec::before {
    content: "";
    position: absolute;
    height: 101%;
    width: 100%;
    top: -2px;
    z-index: -1;
    backdrop-filter: blur(1px);
    background: linear-gradient(#fffffff5, #ffffffb2);
  }

  .abut_image {
    width: 100%;
  }

  .section_container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-elements {
    padding: 0;
    position: absolute;
    left: 0;
    top: 153px;
    background-color: #f6f6f6;
    width: 0px;
    z-index: 99;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 100%;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0 20px;
    width: 100%;
  }

  .nav-elements ul li {
    margin-right: unset;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #cfcfcf;
  }
}

@media screen and (max-width: 1400px) {
  .logo img {
    width: 180px;
    object-fit: contain;
  }
}
